.rc-swipeout {
  margin: 1em;
  border-radius: .5em;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, .16);
}

.task {
  display: flex;
  align-items: center;
  padding-left: 1em;
  /*border-bottom: 1px solid #DDDDDD;*/

  input:focus{
      outline: none;
  }

  .completed {
    text-decoration: line-through;
  }

  .checkbox-container {
    float: left;
    box-sizing: border-box;
    text-align:center;
    padding-right: 10px;
  }

  /* Styling Checkbox Starts */
  .checkbox-label {
      display: block;
      position: relative;
      margin: auto;
      cursor: pointer;
      font-size: 22px;
      line-height: 24px;
      height: 24px;
      width: 24px;
      clear: both;
  }

  .checkbox-label input {
      position: absolute;
      opacity: 0;
      cursor: pointer;
  }

  .checkbox-label .checkbox-custom {
      position: absolute;
      top: 0px;
      left: 0px;
      height: 24px;
      width: 24px;
      background-color: transparent;
      border-radius: 5px;
      transition: all 0.3s ease-out;
      -webkit-transition: all 0.3s ease-out;
      -moz-transition: all 0.3s ease-out;
      -ms-transition: all 0.3s ease-out;
      -o-transition: all 0.3s ease-out;
      border: 2px solid;
  }

  .checkbox-label input:checked ~ .checkbox-custom {
      /*background-color: red;*/
      border-radius: 5px;
      -webkit-transform: rotate(0deg) scale(1);
      -ms-transform: rotate(0deg) scale(1);
      transform: rotate(0deg) scale(1);
      opacity:1;
      /*border: 2px solid red;*/
  }

  .checkbox-label .checkbox-custom::after {
      position: absolute;
      content: "";
      left: 12px;
      top: 12px;
      height: 0px;
      width: 0px;
      border-radius: 5px;
      border: solid #009BFF;
      border-width: 0 3px 3px 0;
      -webkit-transform: rotate(0deg) scale(0);
      -ms-transform: rotate(0deg) scale(0);
      transform: rotate(0deg) scale(0);
      opacity:1;
      transition: all 0.3s ease-out;
      -webkit-transition: all 0.3s ease-out;
      -moz-transition: all 0.3s ease-out;
      -ms-transition: all 0.3s ease-out;
      -o-transition: all 0.3s ease-out;
  }

  .checkbox-label input:checked ~ .checkbox-custom::after {
    -webkit-transform: rotate(45deg) scale(1);
    -ms-transform: rotate(45deg) scale(1);
    transform: rotate(45deg) scale(1);
    opacity:1;
    left: 8px;
    top: 3px;
    width: 6px;
    height: 12px;
    border: solid #7F8C8D;
    border-width: 0 2px 2px 0;
    background-color: transparent;
    border-radius: 0;
  }

  /* For Ripple Effect */
  .checkbox-label .checkbox-custom::before {
      position: absolute;
      content: "";
      left: 10px;
      top: 10px;
      width: 0px;
      height: 0px;
      border-radius: 5px;
      border: 2px solid #FFFFFF;
      -webkit-transform: scale(0);
      -ms-transform: scale(0);
      transform: scale(0);    
  }

  .checkbox-label input:checked ~ .checkbox-custom::before {
      left: -3px;
      top: -3px;
      width: 24px;
      height: 24px;
      border-radius: 5px;
      -webkit-transform: scale(3);
      -ms-transform: scale(3);
      transform: scale(3);
      opacity:0;
      z-index: 999;
      transition: all 0.3s ease-out;
      -webkit-transition: all 0.3s ease-out;
      -moz-transition: all 0.3s ease-out;
      -ms-transition: all 0.3s ease-out;
      -o-transition: all 0.3s ease-out;
  }

  .marker {
    min-width: 1em;
    height: .2em;
    border-radius: .5em;
  }

  .description {
    padding: 1em 0;
    padding-left: .5em;
    width: 100%;
    font-family: "Helvetica Neue";
    font-size: 12pt;
    color: #7F8C8D;
  }

  input, input:focus {
    border: none;
    outline: none;
  }
}