.App {
  font-family: "Helvetica Neue";
  font-size: 100%;
  text-align: left;
}

.App-header {
  color: #7F8C8D;
  font-size: 2em;
  font-weight: bold;
  padding: .5em;
}

.Nav {
  background-color: #ECF0F1;
  bottom: 0;
  height: 3em;
  position: absolute;
  width: 100%;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
