body {
  background-color: #ECF0F1;
}

.App {
  font-family: "Helvetica Neue";
  font-size: 100%;
  height: 100%;
  text-align: left;
  width: 100%;
}

.App-header {
  color: #7F8C8D;
  font-size: 2em;
  font-weight: bold;
  margin: .5em .5em;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
